

.section{
  height: 90vh
}





.menu {
  background-color: #48546d;
  max-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: rgba(0, 0, 0, 0.363);
}

.item {
  color:chartreuse;
  list-style-type: none;
  margin-right: 10px;
}




.menu a {
  
  margin: 0 10px; /* Adjust the margin as needed */
  color: purple;
  text-decoration: none; 
}

a:hover{
  color:greenyellow
}

.gallery{
  background-color: blanchedalmond;
  height: 100vh
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
