.carousel-container {
  width: 33.33%; /* Set the width to one-third */
  margin: auto; /* Center the container horizontally */
}

.home{
  
  background-image: url('/src/images/wepik.png');
  text-align: center;
}



.nav-link.active {
  color: rgb(255, 192, 18); 
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.gallery-image {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin: 10px;
}

h3{
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.about{
 
  background-image: url('/src/images/wepik.png');
  justify-content: center;
}

.header{
  font-weight: 900;
  color:rgb(0, 0, 0);
  text-align: center;
}

p{
  font-weight: 650;
  color: rgb(0, 0, 0);
  margin-left: 9%;
  margin-right: 9%;
}

.menu {
  background-image: url('/src/images/machine-tools_585723-81.avif');
  max-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: rgb(117, 114, 114);
}

.menu a:hover{
  color: rgb(255, 123, 0);
}




.menu a {
  
  margin: 0 10px; /* Adjust the margin as needed */
  color: rgb(248, 4, 4);
  text-decoration: none; 
}



.gallery{
  background-image: url('/src/images/background.jpg');
  height: 100vh
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: #706e6e;
  padding: 40px;
  border-radius: 4px;
  position: relative;
  width: 400px; /* Adjust the width as desired */
}

.popup-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  border: dotted;
  cursor: pointer;
}
.Signuppage {
  background-image: url('/src/images/machine-tools_585723-81.avif');
  max-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: rgb(117, 114, 114);

}




.footer-container {
  position: fixed; /* You can also use 'absolute' if you want the link at the bottom of the 'gallery' div */
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: url('/src/images/machine-tools_585723-81.avif');
  padding: 10px;
  text-align: center;
}
