.carousel-container {
  width: 33.33%; /* Set the width to one-third */
  margin: auto; /* Center the container horizontally */
}

.home{
  background-color: beige;
  text-align: center;
}

.contact{
  height: 100vh;
  background-color: beige;
}


.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link.active {
  color: rgb(0, 3, 0); 
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.gallery-image {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin: 10px;
}


.about{
 
  background-color: beige;
  justify-content: center;
}

.header{
  text-align: center;
}

.para{
  margin-left: 9%;
  margin-right: 9%;
}

.menu {
  background-color: #48546d;
  max-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: rgba(0, 0, 0, 0.363);
}






.menu a {
  
  margin: 0 10px; /* Adjust the margin as needed */
  color: rgb(4, 248, 44);
  text-decoration: none; 
}

a:hover{
  color:greenyellow
}

.gallery{
  background-color: beige;
  height: 100vh
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: #fff;
  padding: 40px;
  border-radius: 4px;
  position: relative;
  width: 400px; /* Adjust the width as desired */
}

.popup-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}



